@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Gilroy-Bold ☞";
	font-style: normal;
	font-weight: normal;
	src: local("Gilroy-Bold ☞"), url("./assets/fonts/Gilroy-Bold.woff") format("woff");
}
/* 
@font-face {
	font-family: "Gilroy-Heavy ☞";
	font-style: normal;
	font-weight: normal;
	src: local("Gilroy-Heavy ☞"), url("./assets/fonts/Gilroy-Heavy.woff") format("woff");
} */

@font-face {
	font-family: "Gilroy-Light ☞";
	font-style: normal;
	font-weight: normal;
	src: local("Gilroy-Light ☞"), url("./assets/fonts/Gilroy-Light.woff") format("woff");
}

@font-face {
	font-family: "Gilroy-Medium ☞";
	font-style: normal;
	font-weight: normal;
	src: local("Gilroy-Medium ☞"), url("./assets/fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
	font-family: "Gilroy-Regular ☞";
	font-style: normal;
	font-weight: normal;
	src: local("Gilroy-Regular ☞"), url("./assets/fonts/Gilroy-Regular.woff") format("woff");
}

html {
	@apply font-gil-reg tracking-widest;
}

.login-background {
	background-image: url("./assets/Back.svg");
	background-repeat: no-repeat;
	background-position: right;
	object-fit: cover;
}

.header-text {
	@apply max-w-4xl font-gil-bold text-2xl sm:text-4xl text-white mt-12 mb-8 tracking-widest;
}

.form-container {
	@apply bg-white shadow-xl px-4 py-3 flex gap-3 rounded-xl;
}

.search-input {
	@apply h-full w-full font-gil-mid text-gray-700 tracking-wider focus:outline-none py-1 px-2;
}

.button {
	@apply bg-cl-red px-5 tracking-wider text-white rounded-lg;
}

.tables {
	@apply shadow-lg sm:text-sm md:text-base gap-1 text-xs place-items-center py-4 rounded-xl w-full grid grid-cols-8 sm:grid-cols-11 tracking-normal;
}

.tables-button {
	@apply py-1 sm:py-2 sm:text-sm sm:px-4 tracking-wider rounded-lg w-full text-center;
}

.inputs {
	@apply h-12 w-full p-3 rounded-lg bg-white focus:outline-none border border-cd-blue;
}

.box {
	@apply bg-white w-[85%] sm:w-[75%] md:w-[65%] absolute md:mx-[17.5%] mx-[7.5%] sm:mx-[12.5%] pt-16 pb-16;
}

.form-inputs {
	@apply py-2 px-4 rounded-lg bg-white focus:outline-none border border-cd-blue w-full h-12 font-gil-mid text-cd-gray;
}

.description-input {
	@apply rounded-lg bg-white focus:outline-none border border-cd-blue w-full h-96 overflow-hidden font-gil-mid text-cd-gray;
}

.list-edit > * {
	@apply list-disc list-inside py-2 space-y-2;
}

@-webkit-keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
